html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 1rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 100vw;
    border: 0.25rem solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #909090;
    border-radius: 100vw;
    border: 0.25rem solid transparent;
    background-clip: content-box;
}

.main {
    display: flex;
    height: 100%;
}

.left {
    flex: 1 1 20%;
    background-color: #cadeef;
    border-right: 2px solid lightgray;
}

.right {
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
}

.top-bar {
    flex: 1 1 7.5vh;
    background-color: white;
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;

    display: flex;
    align-items: center;
}

.content {
    flex: 1 1 92.5vh;
    background-color: white;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

.new-item-wrapper {
    padding: 0 1.5rem;
}

.new-item {
    font-size: 1.2em;
    color: white;
    background-color: #39ace7;
    border: none;
    border-radius: 0.5em;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0.1rem 0.25rem #999;
    padding: 0.25em 0.5em;
    padding-left: 1.5em;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.new-item:hover {
    background-color: #339cd0;
}

.new-item:active {
    top: 0.1em;
}

.plus {
    height: 1em;
    aspect-ratio: 1 / 1;
    display: inline-block;
    position: absolute;
    top: 0.3em;
    left: 0.3em;
}

.search-wrapper {
    flex: 1;
}

#search {
    width: 75%;
    min-height: 1.25em;
    font-size: 1.25rem;
    font-weight: 600;
    border: 2px solid #808080;
    border-radius: 1rem;
    text-indent: 0.5rem;
    color: #000000bb;
    box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.15) inset, 0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.15);
    outline: none;
}

#search::-webkit-search-cancel-button {
    position: relative;
    right: 0.25rem;
}

#search::placeholder {
    font-size: 0.9em;
}


.user-cards {
    flex-basis: 50%;
    flex-grow: 1;
    height: 100%;
    display: inline;
    overflow-y: auto;
    overflow-x: hidden;
}

.card {
    display: flex;
    height: 3rem;
    padding: 1rem;
    margin-inline: 0.5rem;
    margin-right: 0.25rem;
    border-radius: 0.5rem;
    align-items: center;
    font-family: Helvetica;
    cursor: pointer;
    box-shadow: 0.1rem 0rem 0.15rem rgba(0, 0, 0, 0.15);
}

.card-text {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-inline: 1rem;
}

.card-username {
    font-size: 1rem;
    color: #555;
    font-weight: lighter;
    padding-top: 0.25rem;
}

.card-icon {
    display: relative;
    height: 3rem;
    width: 3rem;
    border-radius: 25%;
    background: transparent;
}

.current-selection,
.current-selection span {
    background: #39ace7;
    color: white;
}

.hide {
    display: none;
}

.info-wrapper {
    position: relative;

}

.info-container {
    width: 60%;
    max-height: calc(92.5vh - 0.15rem);
    background-color: #d9e2eb;
    border-left: 2px solid lightgray;
    display: none;
    font-size: 1rem;
    padding: 0.5rem;
}

.info-container * {
    margin-left: 1rem;
}


.close-button {
    position: absolute;
    top: 8vh;
    right: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: all 0.2s linear;
    opacity: 0.4;
    margin-right: 0.5rem;
}

.close-button:hover {
    opacity: 1;
}

.info-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.info-icon-pic {
    min-width: 17.5%;
    max-width: 17.5%;
    top: 0;
    left: 0;
    aspect-ratio: 1 / 1;
    border-radius: 25%;
}

.info-title {
    margin-left: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
}

.pop-up-new {
    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.new-content {
    position: relative;
    margin: 3% auto;
    padding: 3rem 1.5rem;
    border: 1px solid #808080;
    width: 40%;
    height: 70%;
    background-color: #cadeef;
}

.new-close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;
    opacity: 0.4;
    user-select: none;
}

.new-close-button:hover {
    opacity: 1;
}

#newForm {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.not-resizable {
    resize: none;
}

.input-container {
    height: 40px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 0px;
}

.ic2 {
    margin-top: 1.25rem;
}

.input {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #cadeef;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 4.5rem;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
    border: 1px solid black;
}

.placeholder {
    color: black;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 14px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-22px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: black;
}

.input:focus~.placeholder {
    color: black;
}



.input-button {
    color: white;
    background-color: #39ace7;
    border: none;
    border-radius: 0.5em;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0.1rem 0.25rem #999;
    padding: 0.5em 1em;
    cursor: pointer;
    text-decoration: none;
    width: auto;
    width: auto;
    margin-right: auto;
    margin-top: 0.5rem;
}

.input-button:hover {
    background-color: #339cd0;
}

.input-button:active {
    transform: translateY(0.1rem);
}

.image-span {
    color: black;
}

.logo-image {
    width: 100%;
    margin: 0.5rem;
}

.logo-image img {
    width: 90%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.info-input {
    display: flex;
    align-items: center;
    min-height: 2rem;
    margin-bottom: 1rem;
    width: auto;
    margin-right: 1rem;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.15);
    margin-top: 0;
    border-radius: 1rem;
    padding-left: 1rem;
}

.info-notes {
    height: auto;
}

.info-container {
    overflow: scroll;
}

p {
    margin: 0;
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    font-weight: bolder;
}
